.customer {
  padding-top: 65px;

  .boxed {
    margin-bottom: 60px;
  }
  .heading {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 50px;
  }

  &-item {
    padding: 30px;
    border: 1px solid;
  }
}
