.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: $font;
  line-height: 1;
  color: $text-color;
  font-weight: 400;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  line-height: 1;
  border: none;
  outline: none;
  cursor: pointer;

  &--primary {
    font-weight: 700;
    background-color: $primary-color;
    color: white;
  }

  &--outline {
    font-weight: 500;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid;
  }

  &--round {
    border-radius: 10px;
    padding: 17px 65px;

    &::after {
      content: "";
    }
  }
}
